@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
#dhrishyam{
    color:rgb(148, 147, 147);
    text-align:center;
    font-family: 'Akaya Kanadaka', cursive;
    background-color: white;
}
.card-text {
    font-size: 15px;
}

body {
    background-image: url("teamsbackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #fffb06;
    margin-top: 5%;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-family: 'RocknRoll One', sans-serif;
}

.col-3:hover {
    box-shadow: 8px 8px 5px rgb(0, 0, 0);
    transform: scale(1.1);

}
.col-3{
    color: red;
    font-family: 'RocknRoll One', sans-serif;
    -webkit-text-stroke: rgb(0, 0, 0);
    -webkit-text-stroke-width: .5px;
    font-weight: bolder;
    
}
#sug a:hover {
    background-color: #00c45f;
    color: black;
}
#cond a:hover {
    background-color: #00c45f;
    color: black;
}
